// Body
$body_bg: #f0eee8;
$body_color: #5F5F5F;
$body_toolbar_bg: #f0eee8;
$body_toolbardrawer_bg: #f0eee8;

$base_light: #fff;
$base_midrange: #BFBFBF;

// Links
$link_color: #0d5ba8;
$hover_color: #330000;
$submit_hover: #c42a36;
$input_button: #9e1c27;
$button_bg: #a52b36;
$button_color_light: #fff;
$box_shadow: #999;
$menu_active: #000;
$search_button: #392817;
$link_light_alpha: rgba(255,255,255,.6);
$footer_link: #fefefe;
$mainmenu_link: #fefefe;

$pager_active: #0D5BA8;
$pager_current: #48770E;

$topmenu_link_color: #fefefe;

// Headers
$h1: #1A3E64;
$h2: #222222;
$h3: #555;
$block_h2: #fefefe;
$footer_h2: #848484;

// Borders
$border_general: #ddd;
$border_theme: #2c1a08;
$border_tab: #2C1A08;
$border_util: #8D98A2;
$top_menu_border_left: #2d4e05;
$top_menu_border_right: #5b5b61;
$twitter_border: #A2B6C8;

$box_shadow: #999;

// Theme highlight color
$theme_color: #48770e; // colour of header region
$menu_bg: #301e0d;
$menu_border: #766a5e;

// Main Menu
$dropdown_menu_bg: #EFEEE9;
$main_menu_border: #564839;

// Text
$text_light: #767676;
$text_darkest: #000;
$text_bg: #fff;
$text_summary: #444;
$text_blog: #5F5F5F;
$text_active: #333;

// Content
$content_bg: #fff;

// Comments
$comment_border_top: #2C1A08;
$comment_bg: #F7F7F4;
$comment_border_bottom: #EBEBEB;

// Tabs
$tab_bg: #EFEEE9;

// Home page featured articles
$home_feature_bg: #f0eee8;
$region_feature_bg: #DEE7EF;

// Blocks
$block_border: #4a8010;
$block_header_bg: $theme_color;
$block_list_separator: #CDCCCE;

// Footer feature
$footer_feature_bg: #F3F3F3;
$footer_region_bg: #48770E;

// Messages
$message_border: #88A5BF;
$message_color: #1A3E64;


@import "../../set-colour.scss";