body {
  background-color: #f0eee8;
  color: #5f5f5f;
}

body.toolbar {
  background-color: #f0eee8;
}

body.toolbar-drawer {
  background-color: #f0eee8;
}

.marker, .form-required {
  color: #9e1c27;
}

a {
  color: #0d5ba8;
}

a:hover {
  color: #330000;
}

body.page-search #section-content #search-form .search-advanced a {
  color: #392817;
}

h3 {
  color: #555555;
}

.form-textarea-wrapper textarea {
  border-color: #dddddd;
}

input.form-submit {
  background: #a52b36;
  color: white;
  box-shadow: 1px 1px 1px #999999;
  -webkit-box-shadow: 1px 1px 1px #999999;
  -moz-box-shadow: 1px 1px 1px #999999;
}

input.form-submit:hover {
  background-color: #c42a36;
}

#zone-header-wrapper {
  background-color: #48770e;
  background-image: none !important;
}

#region-header-top-menu div.block .content {
  border-left: 1px solid #5b5b61;
}

#region-header-top-menu ul.menu li {
  border-left: 1px solid #2d4e05;
  border-right: 1px solid #5b5b61;
}

#region-header-top-menu ul.menu li.first {
  border-left: 1px solid #2d4e05;
}

#region-header-top-menu ul.menu li a,
#skip-to-content a {
  color: #fefefe;
}

#skip-to-content {
  border-right: 1px solid #5b5b61;
}

#region-header-search form input.form-text {
  border: 1px solid #dddddd !important;
}

#zone-menu-wrapper {
  background-color: #301e0d;
  border-top: 1px solid #766a5e;
}

#block-system-main-menu select.menu {
  background-color: white;
  color: #5f5f5f;
  box-shadow: inset 2px 2px 2px #bfbfbf;
  -webkit-box-shadow: inset 2px 2px 2px #bfbfbf;
  -moz-box-shadow: inset 2px 2px 2px #bfbfbf;
}

#region-header-main-menu .menu li ul {
  background-color: #efeee9;
}

#region-header-main-menu .menu li {
  border-left-color: #564839;
}

#region-header-main-menu .menu li a {
  color: #fefefe;
}

#region-header-main-menu .menu li ul li a {
  color: #0d5ba8;
  border-bottom: 1px solid white;
}

#region-header-main-menu .menu li ul li a:hover {
  background: white;
  color: #330000;
}

#region-header-main-menu .menu :hover a,
#region-header-main-menu .menu ul ul :hover a {
  background: #efeee9;
  color: #0d5ba8;
  text-shadow: none;
}

#region-header-main-menu .menu a.active {
  background: white;
  color: black;
}

#region-header-search form input.form-text {
  color: #767676;
  background: white;
}

#region-header-search form input.form-submit {
  background-image: none;
  background-color: #392817;
}

#zone-content {
  background-color: white;
}

#region-content h1,
#region-content h2 {
  color: #1a3e64;
  border-top: 3px solid #2c1a08;
}

.page-news-media #region-content .view h2,
.page-publications #region-content .view h2 {
  color: #5f5f5f;
}

.not-front .node-blog-article .field-name-post-date {
  color: #767676;
}

.not-front .node-blog-article .field-name-summary {
  color: #444444;
}

#comments #comment-wrapper-header {
  border-top: 3px solid #2c1a08;
}

#comments .comment {
  background-color: #f7f7f4;
}

#comments .comment.even {
  background-color: white;
}

#comments #add-new-comment .filter-wrapper {
  border-bottom: 1px solid #ebebeb;
}

#comments #add-new-comment input#edit-preview {
  color: #9e1c27;
}

#comments #add-new-comment input#edit-preview:hover {
  color: black;
}

.tabbed-nav {
  border: 1px solid #2c1a08;
}

.tabbed-nav ul.tabs {
  background-color: #efeee9;
}

.tabbed-nav ul.tabs li a {
  background-color: #efeee9;
}

.tabbed-nav ul.tabs li.active a {
  background: white;
  color: #333333;
  border-top: 2px solid #8d98a2;
  border-left: 1px solid #2c1a08;
  border-right: 1px solid #2c1a08;
}

body.page-user #region-content #block-system-main {
  border: 1px solid #2c1a08;
}

body.page-user #region-content #block-system-main .block-inner form .form-item label {
  color: #5f5f5f;
}

body.page-user #region-content #block-system-main .block-inner form .form-item input.form-text {
  background: white;
  border: 1px solid #2c1a08;
  color: #767676;
}

#block-views-slideshow-block {
  background-color: #f0eee8;
}

#zone-featured-articles {
  background: white;
}

#region-feature-articles {
  background-color: #dee7ef;
}

#region-feature-articles .views-field-title a,
#region-feature-articles .views-field-title {
  color: #222222;
  text-shadow: 1px 1px 0 white;
}

#block-views-slideshow-block ul li a {
  background-color: #cececd;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: none;
}

#block-views-slideshow-block ul li.current a {
  background-color: #333333;
  color: white !important;
}

#block-views-slideshow-block ul li a.playing {
  background-color: rgba(255, 255, 255, 0.6);
}

#block-views-slideshow-block ul li a.paused {
  background-color: #333333;
}

#block-views-slideshow-block ul li a:focus {
  border: 2px solid #0d5ba8;
}

#block-views-slideshow-block ul li.current a:focus {
  border: 2px solid #0d5ba8;
}

#block-views-latest-news-block .content .views-row,
.view-home-page-blog-articles .views-row {
  border-bottom: 1px solid #2c1a08;
}

body.page-search #section-content #search-form {
  background-color: #f7f7f4;
  border-top: 3px solid #8d98a2;
}

body.page-search #section-content #search-form #edit-basic {
  border-bottom: 1px solid #2c1a08;
}

body.page-search #section-content #search-form #edit-basic input.form-text {
  box-shadow: inset 0 0 3px #999999;
  border: 1px solid #2c1a08;
  color: #767676;
}

body.page-search #section-content #search-form #edit-basic input.form-submit {
  background: #9e1c27;
  color: white;
}

body.page-search #section-content .content h2 {
  border-top: 3px solid #2c1a08;
}

body.page-search #section-content ol.search-results li {
  border-bottom: 1px solid #2c1a08;
}

#region-sidebar .block {
  border-top: 3px solid #4a8010;
}

#region-sidebar .block h2 {
  background-color: #2a5900;
  color: #fefefe;
}

#region-sidebar .block .content {
  background-color: #f0eee8;
}

#region-sidebar .block-menu-block .content ul li a {
  border-top: 1px solid #cdccce;
}

#region-sidebar .block-menu-block .content ul li a:hover,
#region-sidebar .block-menu-block .content ul li.active a {
  background-color: white;
}

#region-sidebar .block-menu-block .content ul li.last.active a {
  border-bottom: 1px solid #cdccce;
}

#block-agov-twitter-feed h2 a {
  color: #fefefe;
}

#block-agov-twitter-feed #tweets ul li {
  border-bottom: 1px solid #a2b6c8;
}

#region-footer-feature {
  background: #f3f3f3;
}

#region-footer-feature .block .content h2 {
  color: #848484;
}

#region-footer-feature .block .content h2 a {
  color: #222222;
}

#region-footer-feature .views-row {
  border-top: 1px solid #2c1a08;
}

#region-footer-menu {
  background-image: none !important;
  background-color: #48770e;
}

#region-footer-menu ul li a {
  color: #fefefe;
  font-weight: bold;
}

#zone-footer-copyright {
  background-color: white;
}

#region-footer-sub-menu ul li a {
  color: #0d5ba8;
}

.view-news-archive .article {
  border-bottom: 1px solid #2c1a08;
}

.item-list .pager {
  background-color: #f7f7f4;
  border-top: 3px solid #2c1a08;
}

.pager a,
.pager a.active {
  color: #0d5ba8;
}

.pager .pager-current {
  background-color: #48770e;
  color: white;
}

input.form-text {
  border: 1px solid #2c1a08;
  color: #5f5f5f;
}

.view-events caption,
.view-publications caption,
.view-media-releases caption,
.view-events caption,
.not-front .view-latest-news caption {
  color: #444444;
}

.view-events tbody tr,
.view-publications tbody tr,
.view-media-releases tbody tr,
.view-events tbody tr,
.not-front .view-latest-news tbody tr {
  border-bottom: 1px solid #2c1a08;
}

.field-name-field-documentation {
  border-bottom: 1px solid #2c1a08;
}

div.messages {
  background-color: #dee7ef;
  border: 1px solid #88a5bf;
  color: #1a3e64;
}

.field-name-field-tags {
  border-bottom: 1px solid #2c1a08;
  border-top: 1px solid #2c1a08;
}

#region-content .node-event h2 {
  border-top: 1px solid #2c1a08;
}

#region-header-main-menu .menu li.active-trail li a {
  color: #9e1c27;
}

.block-views-latest-news-block .more-link,
.block-views-home-page-blog-articles-block .more-link {
  border-top: 1px solid #2c1a08;
}
