/**
 * @file
 * Normal styles
 *
 * Adds all normal grid styles
 *
 */
/* Home Page Featured Articles */
#region-feature-articles {
  background: transparent;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

/* Search Form */
#region-header-search form {
  float: right;
}

/* Content */
#region-content #block-system-main {
  padding-left: 0;
}

/* Home Page Latest News & From The Blog */
#block-views-latest-news-block {
  float: left;
  width: 300px;
  margin-right: 10px;
}

#block-views-home-page-blog-articles-block {
  float: right;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 0;
}

/* Page/Article Node */
body.page-node- #region-content {
  padding-top: 0;
}

body.page-node- #region-content .node .field-name-field-image,
body.page-comment #region-content .node .field-name-field-image {
  margin-bottom: 20px;
  width: auto;
}

/* Comments */
#comments {
  margin-bottom: 42px;
}

#comments #comment-wrapper-header h2 {
  float: left;
}

#comments #comment-wrapper-header .add-new-link {
  float: right;
}

/* Tabs */
.tabbed-nav {
  height: 39px;
}

.tabbed-nav ul.tabs {
  height: 39px;
}

.tabbed-nav ul.tabs li {
  width: auto !important;
  height: 39px;
}

.tabbed-nav ul.tabs li a {
  height: 39px !important;
  line-height: 38px;
  padding: 0 20px;
}

/* User Login */
body.page-user #region-content #block-system-main {
  margin-bottom: 0;
}

body.page-user #region-content #block-system-main .block-inner form .form-item label {
  width: 180px;
  float: left !important;
}

body.page-user #region-content #block-system-main .block-inner form .form-item .description {
  margin-left: 180px;
}

body.page-user #region-content #block-system-main .block-inner form#user-pass .form-item label {
  width: 220px;
}

body.page-user #region-content #block-system-main .block-inner form .form-item input.form-text {
  width: 298px;
}

/* Sidebar */
#block-agov-twitter-feed #tweets ul li .tweet_text {
  width: 217px;
}

/* Footer Feature/Teasers */

#region-footer-feature .block .content h2,
#region-footer-feature .views-row .field-name-field-description {
  width: 210px;
}

/* Footer Menu */
#region-footer-menu {
  width: 960px;
  padding-bottom: 20px;
  margin: 0 0 0 1px;
}

#region-footer-menu ul li {
  width: 140px;
  margin: 0 10px;
}

#region-footer-menu ul ul {
  margin-bottom: 0;
}

/* Footer Bottom */
#zone-footer-copyright {
  padding: 0;
}

#zone-footer-copyright div.region {
  width: 440px;
}

#zone-footer-copyright div.region#region-footer-sub-menu {
  margin-left: 0;
  padding-left: 10px;
}

#zone-footer-copyright div.region#region-footer-copyright {
  margin-right: 0;
  float: right;
  padding-right: 10px;
}

/* Footer Sub Menu */
#region-footer-sub-menu ul {
  text-align: left;
}

/* Copywright */
#block-agov-twitter-feed #tweets ul li .tweet_time {
  margin-left: 53px;
}

#region-header-search form input.form-submit {
  height: 27px;
}

#region-content .entity-bean.highlight {
  padding-bottom: 0;
}

#region-content .entity-bean.default .image {
  margin-right: 14px;
}

#region-content .entity-bean.highlight .image {
  width: 320px;
  float: left;
  margin-bottom: 0;
}

#region-content .entity-bean.highlight .image img {
  width: 320px;
}

.gov-front-layout .grid-4 {
  width: 300px;
  float: left;
}

#region-header-main-menu {
  width: 940px;
}

body.page-search #section-content #search-form #edit-basic label {
  float: left;
  margin-right: 40px;
}

body.page-search #section-content #search-form #edit-basic input.form-text {
  width: 280px;
  float: left;
}

body.page-search #section-content #search-form #edit-basic {
  height: 30px;
}

#region-header-main-menu .block-superfish {
  margin-top: 0;
}
