/**
 * @file
 * Narrow styles
 *
 * Adds all narrow grid styles
 *
 */
#block-views-slideshow-block .view-slideshow {
  height: 475px; }
#block-views-slideshow-block .views-field-field-slide-image {
  width: 720px;
  height: 315px; }
  #block-views-slideshow-block .views-field-field-slide-image img {
    display: block;
    width: 100%;
    height: 100%; }
#block-views-slideshow-block .views-field-title,
#block-views-slideshow-block .views-field-body,
#block-views-slideshow-block .views-field-field-read-more {
  float: none;
  width: 100%; }
#block-views-slideshow-block #featured-article-pager {
  bottom: inherit;
  left: inherit;
  top: 268px;
  right: 20px; }

#block-agov-twitter-feed #tweets ul li .tweet_text {
  width: 140px; }

#region-footer-feature .block .content h2,
#region-footer-feature .views-row .field-name-field-description {
  width: 119px; }

/* Regions */
#region-feature-articles {
  width: 720px; }

#region-footer-feature,
#region-footer-menu {
  margin-left: 0;
  margin-right: 0;
  width: 720px; }

/* Search Form */
#region-header-search {
  margin-left: 10px;
  margin-right: 10px; }

#region-header-search form {
  float: right; }

#region-header-search form input.form-text {
  width: 180px;
  height: 25px;
  border: 1px solid #FFF;
  float: left;
  font-size: 13px;
  padding: 0 9px;
  margin-top: 0; }

#region-header-search form input.form-submit {
  width: 70px;
  height: 28px;
  float: left;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-top: 0;
  text-indent: 0;
  text-shadow: none; }

/* Footer Menu */
#region-footer-menu {
  width: 720px;
  padding: 20px 0;
  margin: 0; }

#region-footer-menu ul li {
  width: 100px;
  margin: 0 10px; }

#region-footer-menu ul ul {
  margin-bottom: 0; }

/* Footer Bottom */
#zone-footer-copyright {
  padding: 10px 0; }

#zone-footer-copyright div.region {
  width: 720px; }

/* Footer Sub Menu */
#region-footer-sub-menu ul {
  text-align: center;
  margin-bottom: 5px; }

/* Copywright */
#region-footer-copyright {
  text-align: center; }

#region-footer-copyright p {
  margin-bottom: 0; }

.node-event .field-name-field-tags {
  clear: both; }

#block-agov-twitter-feed #tweets ul li .tweet_time {
  margin-left: 50px; }

#section-content,
#section-footer {
  background: url("../images/shadow-bg-720.png") top center repeat-y; }

#region-feature-articles {
  border-top: 10px solid #FFF; }

#region-content .entity-bean.highlight .image {
  margin: -19px 14px 19px -14px; }

#region-content .entity-bean.highlight .image {
  width: 460px; }

#region-content .entity-bean.highlight .image img {
  width: 100%;
  height: auto; }

.gov-front-layout .grid-4 {
  width: 460px;
  float: none;
  margin: 0; }

body.page-search #section-content #search-form #edit-basic {
  height: 102px; }

#region-header-main-menu {
  width: 720px;
  margin: 0; }

#region-header-main-menu .menu li {
  margin: 0; }

#region-header-main-menu .block-superfish {
  margin-top: 8px; }
