/**
 * @file
 * Print styles.
 */
/**
 * @file
 * Base settings.
 */
/* Fonts */
/******************************************
 * Base print styles
 *****************************************/
* {
  background: transparent;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

body {
  background-color: transparent !important;
  font-family: Arial, sans-serif;
}

a,
a:visited,
a * {
  text-decoration: underline;
  color: blue;
}

a[href]:after {
  content: " [" attr(href) "]";
  font-size: 70%;
}

abbr[title]:after {
  content: " [" attr(title) "]";
  font-size: 70%;
}

a[href^="javascript:"]:after,
a[href^="#"]:after,
#logo a:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

@page {
  margin: 2cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

#zone-menu-wrapper,
#region-header-top-menu,
#region-header-search,
#region-sidebar,
#zone-featured-articles,
#breadcrumb,
#section-footer {
  display: none;
}

a.site-name[href]:after,
a.site-logo[href]:after {
  content: "";
  text-decoration: none;
}

.container-12,
.container-16,
.container-24 {
  width: 100% !important;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  width: 100% !important;
  float: none !important;
  margin: 0 !important;
}

h1.page-title {
  margin-top: 0;
}

div.views-row {
  border-bottom: 1px solid #999;
  padding-bottom: 12pt;
  margin-bottom: 12pt;
}

#page #zone-header {
  height: auto !important;
  margin-bottom: 14pt;
  padding-bottom: 14pt;
  border-bottom: 1px solid #000;
}
