.front .page__title {
  @include element-invisible;
}

.front .breadcrumb {
  display: none; // hide breadcrumb from screenreaders and display on homepage.
}

.gov-front-col {
  margin: rhythm(1) 0;
  @include bp-nq($medium) {
    width: 50%;
    float: left;
    &.gov-front-left { padding-right: 10px; }
    &.gov-front-right { padding-left: 10px; }
  }
}

.front .panel-pane {
  border-top: 3px solid $color-primary;
}