.maintenance-page {

  @include background-size(100%);
  background: $maintenance_primary;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #page {
    margin-top: 1em;
    font-size: 110%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  div#content {padding: 0}

  #header {
    background-image: url('../images/bg-header.png');
  }

}
