
.page-views .views-row { @extend %listing; }

.page-views .field-name-field-thumbnail {
  float: left;
  margin-right: 10px;
}

.page-views h2 {
  @extend %listing--header;
}

.page-views h3 {
  @include adjust-font-size-to(15px);
  @include reset-baseline;
  margin-bottom: rhythm(.25);
  padding-bottom: rhythm(.25);
  border-bottom: solid 3px $grey2;
  color: black;
}

.page-views .date {
  font-style: italic;
}