
.search-results { padding: 0 15px;}

.search-results li {
  @extend %listing;
}

.search-results h3.title {
  @extend %listing--header;
}

.search-results h3.title a {
  @include adjust-font-size-to(14px);
  font-weight: bold;
}

#region-content .content ul li {
  list-style: disc;
  margin: 0 0 5px 15px;
}

.search-results .search-snippet-info {
  padding: 0;
  font-style: italic;
}


#search-form {
  @include pie-clearfix;
  padding: 15px;
  background-color: $color-tertiary-light;
  border-top: solid 3px $color-primary;

  label, .form-text, .form-submit { margin: rhythm(.5) 0; }
  label {
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .form-text {
    float: left;
    min-width: 75%;
    @include bp-nq($medium) { min-width: 50%; }
    margin: rhythm(.5) 0 0;
  }
  .form-submit {
    clear: left;
    @include bp-nq($large) { clear: none; }
    background: darken($color-highlight, 10%);
    color: white;
  }
  fieldset { display: none; }
}
