@import "init";
@import "colors";
@import "fonts";
@import "typography";
// Declare a mixin to provide raw styles for wysiwyg.

@include body-text-syles;

html {
  font-family: $base-font-family; /* 1 */
  font-size: 100% * ($base-font-size / 16px); /* 3 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  // Establish a vertical rhythm unit using $base-line-height.
  @include adjust-leading-to(1);

  word-spacing: -0.05em;
}

ul, ol { margin: rhythm(1) 0; }
