/**
 * @file
 * Base settings.
 */

$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;

$breakpoint-wide: 980px;
$breakpoint-medium: 740px;

/* Fonts */
$indent-amount: 10px;

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

$arial:             Arial, sans-serif;
$base-font-family:  $arial; // The font family set on the html element.

$open:            'OpenSansRegular', $base-font-family;
$open-bold:       'OpenSansBold', $base-font-family;
$open-semibold:   'OpenSansSemibold', $base-font-family;

$header-font-family:  $open-semibold;
$font-body:           $arial;
$font-monospace:      sans-serif;

$base-font-size:    13px; // The font size set on the root html element.
$base-line-height:  $base-font-size * 1.4; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size:      $base-font-size * 2.4;
$h2-font-size:      $h1-font-size * 0.7;
$h3-font-size:      $h1-font-size * 0.6;
$h4-font-size:      $h1-font-size * 0.5;
$h5-font-size:      $h1-font-size * 0.5;
$h6-font-size:      $base-font-size;

$font-size-small:   12px;
$font-size-small-l: 16px;

$heading_leading: 1;
$heading_padding: 0.5;

@import "breakpoint";  // Add Compass.
@import "compass";  // Add Compass.
