/*
 * @file
 * Compass styles for
 */

/* Makes a box full width */
@mixin box-full-width {
  width: 100%;
  @include box-sizing(border-box);
  margin: 0px;
}

/* Puts dropshadows on the side of a region. */
@mixin shadow-background {
  background-color: white;

  @include breakpoint($breakpoint-medium, $no-query: '.lt-ie9') {
    background: image-url('shadow-bg-720.png') top center repeat-y;
    background-color: transparent;
  }
  @include breakpoint($breakpoint-wide, $no-query: '.lt-ie9') {
    background: image-url('shadow-bg.png') top center repeat-y;
  }
}

/* Provides styling for the text-resize tool */
@mixin text-resize-tool {
  display: block;
  float: left;

  #resize-buttons {
    ul {
      margin: 0;
      height: 27px;

      li {
        float: left;
        list-style: none;
        margin-right: 2px;
        background-image: none;
        padding: 0;
        margin-left: 0;

        a {
          display: block;
          width: 27px;
          height: 0;
          overflow: hidden;
          padding-top: 27px;
        }

        &.font-small a {
          background: image-url('font-resize-bg.png') 0px 0px no-repeat;
        }
        &.font-large a {
          background: image-url('font-resize-bg.png') 0px -27px no-repeat;
        }
        &.reset a {
          background: image-url('font-resize-bg.png') 0px -54px no-repeat;
        }
      }
    }
  }

  // Hide the resize button below 740px.
  @include breakpoint(max-width $breakpoint-medium, $no-query: '.lt-ie9') {
    display: none;
  }
}
