/**
 * @file
 * Generic grid styles
 *
 * Adds styles for narrow & normal grids.
 *
 */

body {
  background-position: 0 0;
}

body.toolbar {
  background-position: 0px 30px;
}

/* Regions */

#zone-header {
  height: 115px !important;
}

#region-header-logo {
  float: left;
  margin-top: 20px;
}

#region-header-search {
  float: right;
}

/* Drop Down Menu */

#region-header-main-menu .block-title {
  display: none;
}

#region-header-main-menu .menu li ul {
  background-image: none;
  border-radius: 0;
}

.sf-sub-indicator {
  display: none;
}

/* Search */
#region-header-search {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
  clear: right;
  width: 366px;
}

#block-search-form {
  display: block;
  float: right;
}

#region-header-search .block-agov-text-resize-text-resize {
  display: block;
  width: 95px;
  float: left;
}

#region-header-search .block-agov-text-resize-text-resize #resize-buttons ul {
  margin: 0;
  height: 27px;
}

#region-header-search .block-agov-text-resize-text-resize #resize-buttons li {
  float: left;
  list-style: none;
  margin-right: 2px;
}

#region-header-search .block-agov-text-resize-text-resize #resize-buttons li a {
  display: block;
  width: 27px;
  height: 0;
  overflow: hidden;
  padding-top: 27px;
}

// Top Menu
///////////////////////////////////////////////////////////////////////////////
// Sets layout for top (user) menu links & skip to content link.

#region-header-top-menu {
  background: none;
  padding: 0;
  float: right;
  margin: 14px 10px 19px;
  text-align: right;
  width: auto;

  #skip-to-content, #block-system-user-menu {
    float: left;
    display: block;
  }
}

.block-agov-text-resize-text-resize {
  display: block;
}

#region-header-search form input.form-submit {
  background-image: none;
}

#zone-menu-wrapper,
#zone-header-wrapper {
  height: auto;
}

#region-header-main-menu .menu li.active-trail li a {
  background: inherit;
}

.node-news-article .field-name-field-image {
  float: left;
  margin: 0 20px 20px 0;
}

#region-footer-feature .views-row .views-field-title {
  float: left;
}

#region-footer-feature .views-row .field-name-field-description {
  float: left;
}

#zone-content,
#zone-footer-copyright,
#zone-featured-articles {
  background: none;
}

.view-events .views-field-title .summary,
.view-publications .views-field-title .summary,
.view-media-releases .views-field-title .summary,
.not-front .view-latest-news .views-field-title .summary {
  line-height: 18px;
}

#zone-footer-menu {
  padding-top: 0;
}

#block-agov-twitter-feed #tweets ul li .tweet_text {
  float: right;
}

#region-footer-feature .views-row {
  float: left;
}

.gov-front-layout .gov-front-left {
  margin-right: 10px;
}

.gov-front-layout .gov-front-right {
  margin-left: 10px;
}

.block-agov-twitter-feed {
  display: block;
}

#region-footer-menu {
  margin-left: 10px;
  margin-right: 10px;
}

#region-header-search {
  margin: 0;
}

.wcag_validate {
  display: block;
}

#region-feature-articles span {
  display: block;
}

#block-views-slideshow-block {
  display: block;
}