version: 2
orbs:
  cypress: cypress-io/cypress@1
jobs:
  build:
    working_directory: /app
    docker:
      - image: integratedexperts/circleci2-builder
        environment:
          COMPOSER_ALLOW_SUPERUSER: 1
          COMPOSE_PROJECT_NAME: govcms
          DEPLOY_BRANCH: 7.x-3.x
    steps:
      - checkout
      - run:
          name: Docker-compose validate
          command: docker-compose config -q
      - run:
          name: Validate composer files
          command: composer validate -d tests --ansi --strict
      - run:
          name: Update codebase to follow CI configuration
          command: |
            sed -i -e "/###/d" docker-compose.yml
            cp .env.default .env
      - setup_remote_docker
      - run:
          name: Start amazeeio-network
          command: docker network prune -f && docker network inspect amazeeio-network >/dev/null || docker network create amazeeio-network
      - run:
          name: Build project
          command: |
            ahoy -v build
            docker-compose exec test dockerize -wait tcp://mariadb:3306 -timeout 1m
      - run:
          name: Install site
          command: ahoy -v install -- install_configure_form.update_status_module='array(FALSE,FALSE)'
      - run:
          name: Copy artifacts
          command: mkdir -p /tmp/artifacts/behat && docker cp $(docker-compose -p govcms ps -q test):/app/tests/behat/features/screenshots /tmp/artifacts/behat
          when: always
      - store_artifacts:
          path: /tmp/artifacts
      - run:
          name: Push Docker images to Dockerhub
          command: |
            if [ "${DEPLOY_ANY_BRANCH}" != "" ] || [ "${CIRCLE_BRANCH}" == "${DEPLOY_BRANCH}" ] || [ ! -z ${CIRCLE_TAG} ]; then
              echo "IMAGE_VERSION_TAG=$CIRCLE_TAG">>.env
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              export $(grep -v '^#' .env | xargs)
              ahoy push
            else
              echo "IMAGE_VERSION_TAG=V99.99">>.env
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              export $(grep -v '^#' .env | xargs)
              ahoy push
              echo "Skipping deployment"
            fi
workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
