version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: integratedexperts/circleci2-builder
        environment:
          COMPOSER_ALLOW_SUPERUSER: 1
          COMPOSE_PROJECT_NAME: govcms
    steps:
      - checkout
      - run:
          name: Docker-compose validate
          command: docker-compose config -q
      - run:
          name: Validate composer files
          command: composer validate -d tests --ansi --strict
      - run:
          name: Update codebase to follow CI configuration
          command: sed -i -e "/###/d" /app/docker-compose.yml
      - setup_remote_docker
      - run:
          name: Start amazeeio-network
          command: docker network prune -f && docker network create amazeeio-network
      - run:
          name: Build project
          command: |
            ahoy -v build
            docker-compose exec test dockerize -wait tcp://mariadb:3306 -timeout 1m
            ahoy -v install -- install_configure_form.update_status_module='array(FALSE,FALSE)'
      - run:
          name: Lint code
          command: ahoy -v lint || true
      - run:
          name: Run behat tests with rerun
          command: ahoy test-behat -- "--format=progress_fail --tags=smoke" || ahoy test-behat -- "--format=progress_fail --rerun --tags=smoke" || true
      - run:
          name: Copy artifacts
          command: mkdir -p /tmp/artifacts/behat && docker cp $(docker-compose -p govcms ps -q test):/app/tests/behat/screenshots /tmp/artifacts/behat
          when: always
      - store_artifacts:
          path: /tmp/artifacts
      - run:
          name: Push Docker images to Dockerhub
          command: |
            if [ "${DEPLOY_ANY_BRANCH}" != "" ] || [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "IMAGE_VERSION_TAG=$CIRCLE_TAG">>.env.default
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              export $(grep -v '^#' .env.default | xargs)
              ahoy push
            fi
