%centered-box,
.centered-box {
  max-width: 400px;
  text-align: center;
  margin: 100px auto 0;
  font-size: 120%;
  padding: 40px;
}

%centered-box__image,
.centered-box__image {
  margin: 0 auto;
}

%centered-box__title,
.centered-box__title {
  margin-top: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
}

