/*
 * @file
 * Compass styles for custom aGov blocks.
 */

/* Social links */
.block-agov-social-links-services {
  .content {
    padding: 15px 5px 7px 15px !important;
    a {
      display: block;
      float: left;
      margin: 0 8px 8px 0;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
