.sidebar .block {
	.block__title {
		background: $blue;
		color: white;
		padding: 0 0 0 20px;
	}
	.block__content {
		background: $block-content-grey;
		padding: 20px;
	}
	.menu, p {
		@include noSpace;
	}
	
}


/*
 * @file
 * Compass styles for custom aGov blocks.
 */

/* Social links */
.block-agov-social-links-services {
  .content {
    padding: 15px 5px 7px 15px !important;
    a {
      display: block;
      float: left;
      margin: 0 8px 8px 0;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
