.field-label-inline {
  .field-label { width: 100px; }
  margin: rhythm(1) 0;
}

.field-name-post-date {
  font-style: italic;
}

.field-name-field-tags {
  width: 100%;
  border-top: solid 1px darken($grey, 10%);
  border-bottom: solid 1px darken($grey, 10%);
  padding: rhythm(.5) 0;
  margin: rhythm(.5) 0;
  display: block;
  div { display: inline; }
  .field-item {
    &:before { content: ", "; }
    &:first-child:before { content: "";}
  }
}
