.panel-pane {
  border-top: 3px solid #004961;
  margin-bottom: 15px;
}


.gov-front-col {
  @include box-sizing(border-box);
  @include breakpoint($medium) {
    width: 50%;
    float: left;
    &.gov-front-left { padding-right: 10px; }
    &.gov-front-right { padding-left: 10px; }
  }
}

.pane-block .views-row {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 15px;
}