.block-search .form-text, .form-submit { float: left; }

.block-search {
  padding-right: 32px;
  position: relative;
  @include box-sizing(border-box);
  .form-submit {
    position: absolute;
    right: 0px;
    text-indent: -100px;
    background: image-url('search-btn-mobile.png') 50% 50% no-repeat;
    background-color: #1b1b1b;
    width: 32px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
  }
}