.text-resize {
  @include inline-list;
  a {
    @include hide-text;
    text-indent: 130%; // adds extra indent for firefox hiding.
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: image-url('font-resize-bg.png');
    background-repeat: no-repeat;
    &.font-small { background-position: 0px px; }
    &.font-large { background-position: 0px -27px; }
    &.reset { background-position: 0px -54px; }
  }
}

/* Text-resize body text */
body.large-fonts {
  @include adjust-font-size-to(16px);
  @include reset-baseline();
  $original-base-font-size: $base-font-size;
  $base-font-size: 16px;
  h1 {
    @include h1;
  }
  h2 {
    @include h2;
  }
  h3 {
    @include h3;
  }
  $base-font-size: $original-base-font-size;
}