.text-resize {
  @include inline-list;
  a {
    @include hide-text;
    display: inline-block;
    width: 19px;
    padding: 4px;
    background-image: image-url('font-resize-bg.png');
    background-repeat: no-repeat;
    &.font-small { background-position: 0px px; }
    &.font-large { background-position: 0px -27px; }
    &.reset { background-position: 0px -54px; }
  }
}