/*
 * @file
 * Compass styles for general site sections styles.
 */

.view-latest-news {
  margin-bottom: 20px;
}

#block-views-home-page-blog-articles-block {
  margin-bottom: 20px;
}

.view-latest-news .views-row,
.view-home-page-blog-articles .views-row {
  padding-bottom: 11px;
  margin-bottom: 11px;
}

#block-views-home-page-blog-articles-block .content .views-row-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.view-mode-teaser .field-name-field-thumbnail,
.view-mode-blog_teaser .field-name-field-thumbnail {
  float: left;
  margin-right: 10px;
}

.view-mode-teaser .field-name-post-date {
  font-style: italic;
}

#block-views-home-page-blog-articles-block .article .article-teaser-content {
  /*   width: 220px; */
  width: 77%;
}

.view-latest-news .article-author-date,
.article .article-teaser-content p.article-author-date {
  font-style: italic;
  @include adjust-font-size-to(12px);
  margin: 0px;
  padding: 0px;
}

.view-latest-news h3,
.article .article-teaser-content h3,
.node-teaser h3 {
  @include adjust-font-size-to(14px);
  @include leader(0, 14px);
  @include trailer(.25, 14px);
}

.more-link {
  margin: 10px 0;
}