/*
 * @file
 * Compass styles for Beans
 */

#region-content .entity-bean {

  p:first-child {
    @include collapse-top-margin;
  }

  // Default bean styling.
  &.default {
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-top: 0.2em;

    .summary-text {
      h2 {
        padding-top: 0;
        border-top: none;
      }

      margin-left: 95px;
    }

    .image {
      float: left;
      margin-right: 14px;
    }
  }

  // Highlight bean styling.
  &.highlight {
    background: #F7F7F4;
    padding: 19px 14px;
    border-bottom: 3px solid #DDD;
    margin-bottom: 30px;

    .field-name-field-bean-text {
      color: #444;
      font-weight: bold;
      @include adjust-font-size-to(14px);
      @include reset-baseline();
    }
    .image {
      margin-bottom: 19px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // Basic content bean styling.
  &.bean-basic-content {
    border-bottom: none;
    padding-bottom: 0;
  }

  &.summary-text {

    h2 {
      font-family: $open-semibold;
      border-top: none;
      padding-top: 0;
      //@include adjust-font-size-to(18px);
      color: #444;
    }

    p {
      margin-bottom: 0;
    }
  }
}
