// Defines global settings for blocks

%block-styled {
  margin-bottom: 25px;
  width: 100%;

  h2 {
    font-family: 'OpenSansBold';
    @include adjust-font-size-to(16px);
    text-indent: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    padding: 15px;

    p:last-child {
      margin-bottom: 0;
    }
    p:first-child {
      margin-top: 0;
    }
  }

  ul {
    margin: 0;
    li {
      background-image: url('../../../images/block-li-bg.png');
      background-position: 0px 8px;
      background-repeat: no-repeat;
      list-style: none;
      list-style-image: none;
      padding-left: 14px;
      margin-left: 0;
    }
  }
}