/*
 * @file
 * Compass styles for search
 */

body.page-search #section-content #search-form .search-advanced a {
  font-weight: bold;
  padding-left: 3px;
}

.search-results {
  .search-snippet-info {
    padding-left: 0;
    font-style: italic;

    p {
      margin-bottom: 5px;
    }

  }
}

.search-text-help {
  font-style: italic;
  color: #767676;
}

.enter-search-text {
  font-style: normal !important;
  color: #000 !important;
}

#region-header-search form input.form-submit {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  background-image: image-url('search-btn-mobile.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 32px;
  height: 29px;
  text-indent: -9999px;
  float: left;
  margin-top: 1px;
  @include adjust-font-size-to(13px);
}

body.page-search #section-content #search-form {
  padding: 25px 14px;
}

body.page-search #section-content #search-form #edit-basic {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

body.page-search #section-content #search-form #edit-basic label {
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

body.page-search #section-content #search-form #edit-basic input.form-text {
  width: 95%;
  height: 30px;
  padding: 0 9px;
  font-style: italic;
  margin-bottom: 10px;
}

body.page-search #section-content #search-form #edit-basic input.form-submit {
  width: 80px;
  height: 32px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  font-size: 1em;
}

body.page-search #section-content .content h2 {
  padding-top: 10px;
  margin-bottom: 30px;
}

body.page-search #section-content ol.search-results li {
  padding-bottom: 12px;
}

body.page-search #section-content ol.search-results li:last-child {
  border-bottom: none;
}

body.page-search #section-content ol.search-results h3.title {
  margin-bottom: 5px;
}

body.page-search #section-content ol.search-results h3.title a {
  @include adjust-font-size-to(14px);
  font-weight: bold;
}

body.page-search #section-content #region-content .content ul li {
  list-style: disc;
  margin: 0 0 5px 15px;
}

#region-content li.search-result {
  list-style: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /*
 * Replaces background images with retina images for the iPhone 4.
 */

  #region-header-search form input.form-submit {
    background: #4C7296 image-url('search-btn-mobile@2x.png') 50% 50% no-repeat !important;
    -webkit-background-size: 19px 17px;
  }
}
