/*
 * @file
 * Compass styles for views and pagers.
 */

// Pager
.item-list .pager {
  height: 36px;
  line-height: 36px;
  margin-top: 30px;
  margin-left: 0;

  li {
    margin: 0;
  }

  a,
  a.active {
    font-weight: bold;
  }

  .pager-current {
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
  }
}

// Views

.views-table {
  width: 100%;

  td {
    padding: 8px;
    vertical-align: top;
    border: 1px solid #CCC;

    &.views-field-title a {
      line-height: 20px;
    }
  }
}

.draggable a.tabledrag-handle {
  margin-left: -1em;
}

th.tabledrag-hide {
  display: none !important;
}

.tabledrag-toggle-weight {
  margin-bottom: 10px;
  display: inline-block;
}

.section-content .view {
  @include standard-teaser-view;
}

.view-latest-news {

  @include view-mode-teaser();
}