$blue: #006893;
$light-blue: rgb(194, 238, 255);
$grey: #f1efed;
$grey2: #cccccc;
$red: #c53100;

$form-border: #c0c0c0;
$form-background: rgb(253, 253, 253);

$body-text: rgb(68, 67, 67);
$body-text2: #444444;
