@mixin adaptivelyCentered {
  margin: auto;
  @include bp-nq($medium) { max-width: $medium; }
  @include bp-nq($large) { max-width: $large - 20px; }
}

#page,
.region-bottom {
  @include adaptivelyCentered;
}

#main {
  clear: both;
  padding: 10px;
}

#footer {
  clear: both;
  padding: 10px;
}

.header {
  @include pie-clearfix;
  @include small-screens {
    padding: 10px;
  }
}

.header__inner { @include adaptivelyCentered; }

/*
* Column logic.
*/
#content {
  @include bp-nq($medium) {
    float: left;
    width: 460px;
  }
  @include bp-nq($large) { width: 620px; }
}

.region-sidebar-second {
  @include bp-nq($medium) {
    float: right;
    width: 220px;
  }
  @include bp-nq($large) { width: 300px; }
}
