/*
 * @file
 * Compass styles for layout and regions.
 */

body {

  .toolbar {
    background-image: url('../../images/background.png');
    background-repeat: repeat-x;
  }

  .toolbar-drawer {
    background-image: url('../../images/background.png') !important;
    background-position: 0px 65px !important;
    background-repeat: repeat-x !important;
  }
}

.page {
  display: block;
  overflow: hidden;
  &:after {
    content: "";
  }
}

#zone-header-wrapper {
  background-image: url('../../images/background.png');
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 135px;
}

#region-header-logo {
  margin: $base-line-height $indent-amount 0;
}

#region-header-top-menu {
  height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
}

#zone-menu-wrapper {
  background-image: url('../../images/menu-bg.png');
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 39px;
}

#region-header-main-menu {
  float: left;
  margin-left: 0;
}

#region-feature-articles {
  background-image: url('../../images/mobile-menu-shadow.png');
  background-repeat: repeat-x;
  background: #DEE7EF url('../../images/mobile-menu-shadow.png') repeat-x;
  margin-left: 0;
  margin-right: 0;
}

#zone-content {
  padding: $base-line-height 0;
}

#section-content {
  padding: 0 $indent-amount;

  @include shadow-background;
}

#region-content {
  outline: none;
}

#zone-footer-menu {
  overflow: hidden;
  &:after {
    content: "";
  }
}

#region-feature-articles,
#region-footer-feature,
#region-footer-menu {
  @include box-full-width;
}

.region-footer-feature {
  padding: $indent-amount*2 $base-line-height/2;
}

#section-footer {
  @include shadow-background;
}

.front #breadcrumb {
  display: none;
}
