
#region-header-main-menu {
	float: left;
	margin-left: 10px;
}

#region-header-main-menu ul.menu {
	margin-bottom: 0;
	display: block;
}

#region-header-main-menu select.menu {
	display: none;
}

#region-header-main-menu .menu li {
	list-style: none;
	float: left;
	padding: 0;
}

#region-header-main-menu .menu li {
	position: relative;
}

#region-header-main-menu .menu li.first {
  border-left: none;
}

#region-header-main-menu .menu li ul {
	display: none;
	position: absolute;
	z-index: 10;
	width: 180px;
	top: 100%;
	padding: 3px;
}

#region-header-main-menu .menu li ul li.last {
  border-bottom: none;
}

#region-header-main-menu .menu li ul li,
#region-header-main-menu .menu li ul li a {
  position: static !important;
}

#region-header-main-menu .menu li a {
  position: relative;
}

#region-header-main-menu li.expanded .menu {
  position: absolute;
  top: 32px;
}

#region-header-main-menu li.expanded .menu li {
  margin: 0;
  border: none;
}

#region-header-main-menu .menu :hover a,
#region-header-main-menu .menu ul ul :hover a {	
	text-shadow: none;
}

#region-header-main-menu .menu li ul li {
  border-left: none;
  margin: 0;
}

#region-header-main-menu .menu li ul li a,
#region-header-main-menu .menu li ul li a:hover {
}

#region-header-main-menu { 
 .block-title {
   display: none;
 }
 ul.menu {
 	display: none;
 	@include breakpoint(740px, $no-query: '.lt-ie9') {
 	  display: block;
	}
	
	
	li {
	  margin: 0px;
    &:first-child:before {
    	background: transparent;
    }
	  a {
	    padding: rhythm(.75) rhythm(.9);
     	font-family: 'OpenSansRegular';
     	display: block;
     	text-transform: uppercase;
     	text-decoration: none;
     	background: none;
     }
	}
	
	> li:before {
  	content: "";
  	background: #4f4f4f;
  	position: absolute;
  	display: block;
  	width: 1px;
  	height: 60%;
  	top: 20%;
  }
	

   li ul li a { // Sublinks
   	background: none;
   	display: block;
   	font-family: Arial, sans-serif;
   	font-weight: bold;
   	text-transform: none;
   	text-shadow: none;
   	text-decoration: underline;
   	padding: rhythm(.5) rhythm(.75);
   	&:hover {
     	text-decoration: inherit;
     }
   }

   li.last a {
   	border-bottom: none;
   }

 }

 h2 {
 	display: none;
 }

}



// Mobile Responsive menu
#block-superfish-1 select.menu {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: none;
 background: #FFF url('../images/mobile-menu-arrow.png') 95% 50% no-repeat;
	width: 145px;
	height: 27px;
	text-indent: 10px;
	padding-left: 0;
	display: block;
	@include adjust-font-size-to(14px);
	@include reset-baseline();
	font-weight: bold;
	margin: 6px 0 0 10px;
	@include breakpoint(740px, $no-query: '.lt-ie9') {
	  display: none; // This is a test
 }
}





