// Body
$body_bg: #f9f9f9;
$body_color: #5F5F5F;
$body_toolbar_bg: #f9f9f9;
$body_toolbardrawer_bg: #f9f9f9;

$base_light: #fff;
$base_midrange: #BFBFBF;

// Links
$link_color: #0d5ba8;
$hover_color: #330000;
$submit_hover: #c42a36;
$input_button: #9e1c27;
$button_bg: #a52b36;
$button_color_light: #fff;
$box_shadow: #999;
$menu_active: #006eae;
$search_button: #1863ac;
$link_light_alpha: rgba(255,255,255,.6);
$footer_link: #1b1b27;
$mainmenu_link: #1b1b27;

$pager_active: #c53100;
$pager_current: #204F7D;

$topmenu_link_color: #0d5ba8;

// Headers
$h1: #222;
$h2: #222;
$h3: #555;
$twitter_h2: #222;
$footer_h2: #004961;

// Borders
$border_general: #ddd;
$border_theme: #74757a;
$border_tab: #ccc;
$border_util: #8D98A2;

$top_menu_border_left: #27272d;
$top_menu_border_right: #5b5b61;

$twitter_border: #A2B6C8;

$box_shadow: #c9c9c9;

// Theme highlight colour
$theme_color: #fff; // colour of header region
$menu_bg: #d6d6d6;
$menu_border: #dedede;

// Main Menu
$dropdown_menu_bg: #EFEEE9;
$main_menu_border: #b0b0b0;

// Text
$text_light: #767676;
$text_darkest: #000;
$text_bg: #fff;
$text_summary: #444;
$text_blog: #5f5f5f;
$text_active: #333;

// Content
$content_bg: #fff;

// Comments
$comment_border_top: #8D98A2;
$comment_bg: #F7F7F4;
$comment_border_bottom: #EBEBEB;

// Tabs
$tab_bg: #EFEEE9;

// Home page featured articles
$home_feature_bg: #f2f2f3;
$region_feature_bg: #DEE7EF;

// Blocks
$block_border: #dbdbdb;
$block_header_bg: #d6d6d6;
$block_list_separator: #CDCCCE;

// Footer feature
$footer_feature_bg: #F3F3F3;
$footer_region_bg: #D6D6D6;

// Messages
$message_border: #88A5BF;
$message_color: #1A3E64;


@import "../../set-colour.scss";