footer .block { margin: 0; }


.region-footer .block-menu .menu {
  @extend %inlineLinks--bordered;
  a { padding: 5px; }
}

.region-footer .block-title {
  @extend %element-invisible;
}


// Layout for footer promos
// Todo: Currently named "footer-teaser" should be changed to "promos" or something later.
.view-footer-teaser {
  margin: -10px; //ignore parent spacing
  @include pie-clearfix;
  padding: 10px;
}

.view-footer-teaser {
  padding-bottom: rhythm(1);
  @include bp-nq($medium) {
    $zen-column-count:  3;
    @include zen-grid-container();
    .views-row-1 { @include zen-clear(); @include zen-grid-item(1, 1); padding-left: 0px; }
    .views-row-2 { @include zen-grid-item(1, 2);}
    .views-row-3 { @include zen-grid-item(1, 3); padding-right: 0px; }
  }
}

// Styling for footer promos
.view-footer-teaser {
  background: #F3F3F3;
  p { margin: 0; }
  .views-row {  margin-top: 10px; margin-bottom: 10px;}
  // Added border/margin to title to avoid an extra container.
  .views-field-title {
    padding-top: 10px;
    border-top: solid 3px #CCCCCC;
    h2 {
      @include adjust-font-size-to(16px);
      @include reset-baseline;
    }
    a {
      @include underlineOnHover;
      color: #222222;
    }
  }
}

// Manually positioning image at top right.
// Todo: fix markup to remove this styling.
.view-footer-teaser .views-row {
  position: relative;
  min-height: 90px; // Avoid height not recognizing image.
  .views-field-title, .views-field-field-description { padding-right: 85px; }
  .views-field-field-image {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}



// Main Menu Footer

#block-menu-block-agov-menu-block-footer {
  overflow: hidden;
  margin: 0 -10px;
  padding: 15px;
  background: $blue;
  a { color: white; }

  .menu-block-wrapper > ul {
    @include noSpace;
    > li {
      float: left;
      padding: 0 15px 15px 0;
      @include bp-nq($medium) { width: 16%; }
      position: relative;
      font-weight:bold;
      &.first { display: none; } // Legacy removal of first LI
      &.is-expanded ul {
        li {
          display: block;
          width: 100%;
          @include adjust-font-size-to(12px);
          font-weight: normal;
        }
      }
    }
  }
}

#block-menu-menu-footer-sub-menu {
  overflow: hidden;
  padding: 10px 0 0;
}




