.header {
	background: $blue;
}

.header__logo {
	margin: rhythm(1) 0;
  max-width: 50%;
}

.header__secondary-menu {
  margin: 10px;
}

.block-search {
	float: right;
  max-width: 50%;
}

.header__region {
  margin: rhythm(1) 0;
}

.header {
  .block-agov-text-resize, .block-search {
    @include show-at($breakpoint-medium, inline-block);
    margin: 0 10px;
    display: inline-block;
  }
  .block-agov-text-resize {
    margin-right: 0px;
  }
}