.header {
	background: $blue;
}

.header__logo {
	margin: 20px;
}

.header__secondary-menu {
	margin: 10px;
}

.block-search {
	float: right;
}

.header__region {
	clear: right;
  float: right;
}

.block-agov-text-resize {
  @include show-at($breakpoint-medium, inline-block);
}