.region-navigation {
	background: black;
	position: relative;
	display: inline-block;
	width: 100%;
  .block {
    @include no-space;
    @include adaptively-centered;
  }
}

$firstLiPaddingX: 15px; // Used for calculation is sub-menu below.

/* First-level Menu */
.region-navigation .block__content > .menu {
  @extend %inlineLinks--bordered;
	background: black;
  > li {
    > a {
      padding: 10px $firstLiPaddingX;
      font-family: $open;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
    }
    &.active-trail > a {
      &, & a:hover {
        color: black;
        background: white;
      }
    }
    & > a:hover, &.sfHover > a {
      background: $grey;
      color: $red;
    }
    // Remove border on hover, sfHover, active link, and first link.
    &.sfHover, &:hover, &.active-trail {
      &, & + li { // removes this border as well as ajacent border
        a:before {
          border: 0;
        }
      }
    }
  }
}

/* Sub-menu */
$subMenuPadding: 3px;
$subLiPaddingX: $firstLiPaddingX - $subMenuPadding;

.sf-menu li ul {
	background: $grey;
	padding: $subMenuPadding;
  li {
    width: 100%;
    a {
      display: block;
      padding: 8px $subLiPaddingX;
      border-bottom: 1px solid white;
      color: $red;
      font-weight: bold;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
}