.page-user .tabs {
  margin-bottom: 0;
}
.page-user #main form {
  overflow: hidden;
  border: 1px solid darken($color-tertiary-light, 10%);
  border-top: none;
  padding: 0 15px 15px 15px;
  .form-text {
    width: 100%;
    @include bp-nq($medium) { width: auto; }
  }
  .form-type-password { margin-bottom: rhythm(.5); }
}