/**
 * @file
 * RTL companion for the layout-fixed-width.css file.
 */

/**
 * The layout when there is only one sidebar, the right one.
 */

/* Span 4 columns, starting in 2nd column from right. */
.sidebar-first #content {
  float: right;
  width: 764px;
  margin-right: 196px;
  margin-left: -980px;
}

/* Span 1 column, starting in 1st column from right. */
.sidebar-first .region-sidebar-first {
  float: right;
  width: 176px;
  margin-right: 0px;
  margin-left: -196px;
}

/**
 * The layout when there is only one sidebar, the left one.
 */

/* Span 4 columns, starting in 1st column from right. */
.sidebar-second #content {
  float: right;
  width: 764px;
  margin-right: 0px;
  margin-left: -784px;
}

/* Span 1 column, starting in 5th column from right. */
.sidebar-second .region-sidebar-second {
  float: right;
  width: 176px;
  margin-right: 784px;
  margin-left: -980px;
}

/**
 * The layout when there are two sidebars.
 */

/* Span 3 columns, starting in 2nd column from right. */
.two-sidebars #content {
  float: right;
  width: 568px;
  margin-right: 196px;
  margin-left: -784px;
}

/* Span 1 column, starting in 1st column from right. */
.two-sidebars .region-sidebar-first {
  float: right;
  width: 176px;
  margin-right: 0px;
  margin-left: -196px;
}

/* Span 1 column, starting in 5th column from right. */
.two-sidebars .region-sidebar-second {
  float: right;
  width: 176px;
  margin-right: 784px;
  margin-left: -980px;
}
