%palette-1,
.palette-1 {
  background: #E2E2E2;
  max-width: 400px;
  text-align: center;
  margin: 100px auto 0;
  font-size: 120%;
  padding: 40px 10px;
  color: rgb(79, 79, 79);

  img {
    margin: 0 auto;
  }

  h1 {
    margin-top: 1em;
    font-weight: bold;
  }
}
