.node-teaser {
  .field-type-image {

    @include bp-nq($minor) {
      float: left;
      margin-right: 10px;
    }
  }

  h3 {
    @include adjust-font-size-to(14px);
    margin: rhythm(1/4) 0 rhythm(1/2);
  }

  h3 a {
    color: $color-highlight;
  }

  p {
    margin: 0;
  }
}

