/**
 * @file
 * Sets colours for aGov's colour schemes.
 */
/**
 * @file
 * Base settings.
 */
/* Fonts */
body {
  background-color: #ececec;
  color: #5f5f5f;
}

body.toolbar {
  background-color: #ececec;
}

body.toolbar-drawer {
  background-color: #ececec;
}

.marker, .form-required {
  color: #9e1c27;
}

a {
  color: #c53100;
}

a:hover {
  color: #330000;
}

body.page-search #section-content #search-form .search-advanced a {
  color: #006eae;
}

h3 {
  color: #555555;
}

.form-textarea-wrapper textarea {
  border-color: #dddddd;
}

input.form-submit {
  background: #a52b36;
  color: white;
  box-shadow: 1px 1px 1px #c9c9c9;
  -webkit-box-shadow: 1px 1px 1px #c9c9c9;
  -moz-box-shadow: 1px 1px 1px #c9c9c9;
}

input.form-submit:hover {
  background-color: #c42a36;
}

#zone-header-wrapper {
  background-color: #064468;
  background-image: none !important;
}

#region-header-top-menu div.block .content {
  border-left: 1px solid #5b5b61;
  overflow: hidden;
}

#region-header-top-menu ul.menu li {
  border-left: 1px solid #27272d;
  border-right: 1px solid #5b5b61;
}

#region-header-top-menu ul.menu li.first {
  border-left: 1px solid #27272d;
}

#zone-header a {
  color: #fefefe;
}

#skip-to-content {
  border-right: 1px solid #5b5b61;
}

#region-header-search form input.form-text {
  border: 1px solid #dddddd !important;
}

div #zone-menu-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #487aaf), color-stop(100%, #416d9d));
  background-image: -webkit-linear-gradient(#487aaf, #416d9d);
  background-image: -moz-linear-gradient(#487aaf, #416d9d);
  background-image: -o-linear-gradient(#487aaf, #416d9d);
  background-image: linear-gradient(#487aaf, #416d9d);
  background-color: #416d9d;
  border-top: 1px solid #7a7a7a;
}

#block-system-main-menu select.menu {
  background-color: white;
  color: #5f5f5f;
  box-shadow: inset 2px 2px 2px #bfbfbf;
  -webkit-box-shadow: inset 2px 2px 2px #bfbfbf;
  -moz-box-shadow: inset 2px 2px 2px #bfbfbf;
}

#region-header-main-menu .menu li {
  border-left-color: #7b99bb;
}
#region-header-main-menu .menu li a {
  color: white;
}
#region-header-main-menu .menu li ul {
  background-color: #efeee9;
}
#region-header-main-menu .menu li ul li a {
  color: #c53100;
  border-bottom: 1px solid white;
}
#region-header-main-menu .menu li ul li a:hover {
  background: white;
  color: #330000;
}
#region-header-main-menu .menu li ul ul:hover a {
  background: #efeee9;
  color: #c53100;
  text-shadow: none;
}
#region-header-main-menu .menu li.active-trail {
  background: white;
}
#region-header-main-menu .menu li.active-trail a {
  font-family: "OpenSansSemibold", Arial, sans-serif;
  color: #010101;
}
#region-header-main-menu .menu li.active-trail li a {
  font-family: Arial, sans-serif;
  color: #9e1c27;
}
#region-header-main-menu .menu li:hover a {
  background: #efeee9;
  color: #c53100;
  text-shadow: none;
}
#region-header-main-menu .menu a.active {
  background: white;
  color: #010101;
}

#region-header-search form input.form-text {
  color: #767676;
  background: white;
}

#region-header-search form input.form-submit {
  background-image: none;
  background-color: #006eae;
}

#zone-content {
  background-color: white;
}

.not-front .node-blog-article .field-name-post-date {
  color: #767676;
}

.not-front .node-blog-article .field-name-summary {
  color: #444444;
}

#comments #comment-wrapper-header {
  border-top: 3px solid #73737c;
}

#comments .comment {
  background-color: #f7f7f4;
}

#comments .comment.even {
  background-color: white;
}

#comments #add-new-comment .filter-wrapper {
  border-bottom: 1px solid #ebebeb;
}

#comments #add-new-comment input#edit-preview {
  color: #9e1c27;
}

#comments #add-new-comment input#edit-preview:hover {
  color: black;
}

.tabbed-nav {
  border: 1px solid #cccccc;
}

.tabbed-nav ul.tabs {
  background-color: #efeee9;
}

.tabbed-nav ul.tabs li a {
  background-color: #efeee9;
}

.tabbed-nav ul.tabs li.active a {
  background: white;
  color: #333333;
  border-top: 2px solid #73737c;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

body.page-user #region-content #block-system-main {
  border: 1px solid #cccccc;
}

body.page-user #region-content #block-system-main .block-inner form .form-item label {
  color: black;
}

body.page-user #region-content #block-system-main .block-inner form .form-item input.form-text {
  background: white;
  border: 1px solid #cccccc;
  color: #767676;
}

#block-views-slideshow-block {
  background-color: #ececec;
}

#zone-featured-articles {
  background: white;
}

#region-feature-articles {
  background-color: #dee7ef;
}

#region-feature-articles .views-field-title a,
#region-feature-articles .views-field-title {
  color: #082949;
  text-shadow: 1px 1px 0 white;
}

#block-views-slideshow-block ul li a {
  background-color: #cececd;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: none;
}

#block-views-slideshow-block ul li.current a {
  background-color: #333333;
  color: white !important;
}

#block-views-slideshow-block ul li a.playing {
  background-color: rgba(255, 255, 255, 0.6);
}

#block-views-slideshow-block ul li a.paused {
  background-color: #333333;
}

#block-views-slideshow-block ul li a:focus {
  border: 2px solid #c53100;
}

#block-views-slideshow-block ul li.current a:focus {
  border: 2px solid #c53100;
}

div.section-content .view .views-row {
  border-bottom: 1px solid #cccccc;
}

body.page-search #section-content #search-form {
  background-color: #f7f7f4;
  border-top: 3px solid #73737c;
}

body.page-search #section-content #search-form #edit-basic {
  border-bottom: 1px solid #cccccc;
}

body.page-search #section-content #search-form #edit-basic input.form-text {
  box-shadow: inset 0 0 3px #c9c9c9;
  border: 1px solid #cccccc;
  color: #767676;
}

body.page-search #section-content #search-form #edit-basic input.form-submit {
  background: #9e1c27;
  color: white;
}

body.page-search #section-content .content h2 {
  border-top: 3px solid #73737c;
}

body.page-search #section-content ol.search-results li {
  border-bottom: 1px solid #cccccc;
}

#region-sidebar .block,
#region-sidebar .entity-bean {
  border-top: 3px solid #bf4b25;
}
#region-sidebar .block h2,
#region-sidebar .entity-bean h2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6644), color-stop(100%, #c25835));
  background-image: -webkit-linear-gradient(#cc6644, #c25835);
  background-image: -moz-linear-gradient(#cc6644, #c25835);
  background-image: -o-linear-gradient(#cc6644, #c25835);
  background-image: linear-gradient(#cc6644, #c25835);
  background-color: #c25835;
  color: white;
}
#region-sidebar .block .content,
#region-sidebar .entity-bean .content {
  background-color: #ececec;
}

#region-sidebar .block-menu-block .content ul li a {
  border-top: 1px solid #cdccce;
}
#region-sidebar .block-menu-block .content ul li a:hover, #region-sidebar .block-menu-block .content ul li a.active a {
  background-color: white;
}
#region-sidebar .block-menu-block .content ul li.last.active a {
  border-bottom: 1px solid #cdccce;
}

#block-agov-twitter-feed h2 a {
  color: white;
}

#block-agov-twitter-feed #tweets ul li {
  border-bottom: 1px solid #a2b6c8;
}

#region-footer-feature {
  background: #eeeeee;
}

#region-footer-feature .block .content h2 {
  color: #004961;
}

#region-footer-feature .block .content h2 a {
  color: #082949;
}

#region-footer-feature .views-row {
  border-top: 1px solid #cccccc;
}

#region-footer-menu {
  background-image: none !important;
  background-color: #416d9d;
}

#region-footer-menu ul li a {
  color: white;
  font-weight: bold;
}

#zone-footer-copyright {
  background-color: white;
}

#region-footer-sub-menu ul li a {
  color: #c53100;
}

div #region-content .entity-bean.highlight {
  background: #ececec;
  border-bottom: 3px solid #73737c;
  border-top: 3px solid #73737c;
}

.view-news-archive .article {
  border-bottom: 1px solid #cccccc;
}

.item-list .pager {
  background-color: #f7f7f4;
  border-top: 3px solid #73737c;
}

.pager a,
.pager a.active {
  color: #c53100;
}

.pager .pager-current {
  background-color: #204f7d;
  color: white;
}

input.form-text {
  border: 1px solid #cccccc;
  color: black;
}

.view-events caption,
.view-publications caption,
.view-media-releases caption,
.view-events caption,
.not-front .view-latest-news caption {
  color: #444444;
}

.view-events tbody tr,
.view-publications tbody tr,
.view-media-releases tbody tr,
.view-events tbody tr,
.not-front .view-latest-news tbody tr {
  border-bottom: 1px solid #cccccc;
}

.field-name-field-documentation {
  border-bottom: 1px solid #cccccc;
}

div.messages {
  background-color: #dee7ef;
  border: 1px solid #88a5bf;
  color: #1a3e64;
}

.field-name-field-tags {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

#region-content .node-event h2 {
  border-top: 1px solid #cccccc;
}

.block-views-latest-news-block .more-link,
.block-views-home-page-blog-articles-block .more-link {
  border-top: 1px solid #cccccc;
}

.bean-image-and-text {
  color: #1b1b27;
  border-top: 1px solid #ddd;
}
.bean-image-and-text h2 {
  font-size: 1.2em;
  line-height: 2.33333em;
}

.front .panel-pane {
  border-top: 3px solid #73737c;
}

.breadcrumb {
  border-bottom: 3px solid #73737c;
}

h1 {
  color: #1b1b27;
}

h2 {
  color: #082949;
}

h3 {
  color: #555555;
}

div .section-content .view .view-content > h2 {
  border-bottom-color: #cccccc;
}
