@mixin bp-nq($breakpoint) {
  @include breakpoint($breakpoint, $no-query: '.lt-ie9') {
    @content
  }
}

@mixin show-at($breakpoint, $display:'block') {
  display: none;
  @include bp-nq($breakpoint) {
    display: $display;
  }
}

$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;

$breakpoint-wide: 980px;
$breakpoint-medium: 740px;