@mixin adaptively-centered {
  margin: auto;
  @include breakpoint($medium) { max-width: $medium; }
  @include breakpoint($large) { max-width: $large - 20px; }
}

#page,
.region-bottom {
  @include adaptively-centered;
	padding: 10px;
}

#main, 
#footer {
	clear: both;
}

.header {
	@include pie-clearfix;

}

.header__inner {
  @include adaptively-centered;
}

/*
* Column logic.
*/
#content {
 	@include breakpoint($medium) {
	   float: left; 
	   width: 460px;
	 }
	 @include breakpoint($large) { width: 620px; }
}

.region-sidebar-second {
 @include breakpoint($medium) {
   float: right;
   width: 220px;
 }
 @include breakpoint($large) { width: 300px; } 
}
