// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin noSpace {
	margin: 0;
	padding: 0;
}

@mixin underlineOnHover {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

%pseudo-block {
  content: "";
  display: block;
}

@mixin h1() {

/* Set the font-size and line-height while keeping a proper vertical rhythm. */
  @include adjust-font-size-to( $h1-font-size );

/* Set 1 unit of vertical rhythm on the top and bottom margins. */
  @include leader($heading_padding, $h1-font-size);
  @include trailer($heading_padding, $h1-font-size);
  @include adjust-leading-to($heading_leading);
}

@mixin h2() {
  @include adjust-font-size-to( $h2-font-size );
  @include leader($heading_padding, $h2-font-size);
  @include trailer($heading_padding, $h2-font-size);
  @include adjust-leading-to($heading_leading);
}

@mixin h3() {
  @include adjust-font-size-to( $h3-font-size );
  @include leader($heading_padding, $h3-font-size);
  @include trailer($heading_padding, $h3-font-size);
  @include adjust-leading-to($heading_leading);
  color: #555;
}

@mixin h4() {
  @include adjust-font-size-to($h4-font-size);
  @include leader($heading_padding, $h4-font-size);
  @include trailer($heading_padding, $h4-font-size);
  @include adjust-leading-to($heading_leading);
  color: #555;
}

@mixin h5() {
  @include adjust-font-size-to($h5-font-size);
  @include leader($heading_padding, $h5-font-size);
  @include trailer($heading_padding, $h5-font-size);
  @include adjust-leading-to($heading_leading);
  color: #555;
}

@mixin h6() {
  @include adjust-font-size-to($h6-font-size);
  @include leader($heading_padding, $h6-font-size);
  @include trailer($heading_padding, $h6-font-size);
  @include adjust-leading-to($heading_leading);
  color: #555;
}