.block-twitter-block {
  padding-top: $default_padding * 2;
  padding-bottom: $default_padding * 2;
  h2 {
    @include center-column($desktop_column);
    @include medium-title;
  }
  &>.content {
    @include center-column($mobile_column);
    @include breakpoint(large_tablet) {
      max-width: $desktop_column;
    }
  }
  iframe {
    width: 100% !important;
  }
}
