.content-header {
  .breadcrumbs--inverted {
    display: block;
    background-color: transparent;
    ul {
      padding-top: rem(8px);
      padding-bottom: 0;
      li {
        font-size: rem(16px);
        height: rem(30px);
        a {
          white-space: nowrap;
        }
        &:not(:last-child) {
          // Override previously defined icon with new path.
          background-image: ui-kit-icon("arrow-right--white.svg");
          background-position: right top 7px;
        }
        &:last-child {
          font-weight: 600;
        }
      }
    }
  }
}
