// =========================================================
// FRONT PAGE PANEL
// =========================================================
.front {
  .page__title {
    @include visually-hidden;
  }
  .gov-front-left {
    padding-top: rem(40px);
    padding-bottom: rem(108px);
    background-color: $neutral_4;
    .panel-pane {
      @include center-column($desktop_column);
    }
  }
  .gov-front-right {
    padding-top: rem(40px);
    padding-bottom: rem(108px);
    background-color: $neutral_4;
    .panel-pane {
      @include center-column($desktop_column);
    }
  }
}

// =========================================================
// INTRODUCTION BEAN
// =========================================================
.bean-basic-content {
  background-color: $academy_light_grey;
  &>.content {
    @include center-column($desktop_column);
    padding-top: $default_padding;
    padding-bottom: $default_padding;
    @include breakpoint(tablet) {
      padding-top: $default_padding * 2;
      padding-bottom: rem(50px);
    }
    @include breakpoint(desktop) {
      text-align: center;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.pane-title {
  @include large-title;
}

// =========================================================
// SLIDER
// =========================================================
#block-views-slideshow-block {
  &>h2 {
    @include visually-hidden;
  }
  .view-content {
    position: relative;
    background-color: #0B3B46;
    &>ul {
      padding: 0;
      margin-bottom: 0;
      @include breakpoint(tablet) {
        height: rem(444px);
      }
      &:not(.owl-loaded) {
        &>li:not(.views-row-first) {
          @include breakpoint(tablet) {
            display: none;
          }
        }
      }
    }
  }
  .view-content li.views-row {
    position: relative;
    list-style: none;
    margin-bottom: 0;
  }
  .field-name-field-slide-image {
    @include clearfix;
    @include breakpoint(tablet) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .field-items {
      @include breakpoint(tablet) {
        height: 100%;
      }
    }
    .field-item {
      @include breakpoint(tablet) {
        height: 100%;
      }
    }
    img {
      height: rem(225px);
      object-fit: cover;
      float: left;
      @include breakpoint(tablet) {
        width: 100%;
        height: 100%;
      }
    }
  }
  .banner-description-holder {
    color: white;
    padding: rem(30px) $default_padding;
    background-color: $primary_1;
    @include breakpoint(tablet) {
      @include center-column($desktop_column);
      background-color: transparent;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
    }
    h3 {
      @include link-colours(white, $neutral_4, $neutral_1);
      margin-top: 0;
      font-weight: 400;
      @include breakpoint(tablet) {
        margin-bottom: rem(21px);
        font-size: rem(48px);
        font-weight: 300;
      }
    }
    .field {
      @include link-colours(white, $neutral_4, $neutral_1);
    }
  }
  .banner-description-panel {
    @include breakpoint(tablet) {
      position: relative;
      box-sizing: border-box;
      background-color: #0B3B46;
      padding: rem(45px);
      padding-top: rem(85px);
      max-width: rem(524px);
      min-height: rem(444px);
      color: white;
    }
  }
  .slider-controls {
    position: absolute;
    top: 0;
    padding-top: rem(34px);
    padding-left: rem(37px);
    button {
      color: $secondary_3;
      border: 0;
      margin: 0;
      display: inline;
      width: rem(36px);
      height: rem(36px);
      overflow: hidden;
      padding: 0;
      vertical-align: top;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      border-bottom: 1px solid transparent;
      &:hover, &:focus {
        color: white;
        border-bottom-color: white;
      }
      &.active {
        color: white;
      }
      &.slider-prev {
        @include hide-text;
        background-image: url(../images/svg/slider-prev.svg);
        &:hover, &:focus {
          background-image: url(../images/svg/slider-prev-hover.svg);
        }
      }
      &.slider-next {
        @include hide-text;
        background-image: url(../images/svg/slider-next.svg);
        &:hover, &:focus {
          background-image: url(../images/svg/slider-next-hover.svg);
        }
      }
      &.slider-play {
        @include hide-text;
        background-image: url(../images/svg/slider-pause.svg);
        &:hover, &:focus {
          background-image: url(../images/svg/slider-pause-hover.svg);
        }
        &.paused {
          background-image: url(../images/svg/slider-play.svg);
          &:hover, &:focus {
            background-image: url(../images/svg/slider-play-hover.svg);
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      display: inline;
      li {
        display: inline;
      }
    }
  }
}

// =========================================================
// HOMEPAGE NEWS LISTSING
// =========================================================
.pane-latest-news {
  padding-top: rem(48px);
  padding-bottom: rem(48px);
  .pane-title {
    @include visually-hidden;
  }
}

.view-latest-news {
  .view-content {
    ul {
      padding: 0;
      list-style: none;
    }
    .node-news-article {
      max-width: 800px;
      position: relative;
      a {
        border-bottom: none;
        transition: none;

        &:hover {
          background: none;
        }
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      .overlay-wrapper {
        position: absolute;
        bottom: 0;
        background: rgba(216, 220, 219, 0.9);
      }
      .news-information, .news-links {
        color: $academy_dark_grey;
        overflow: hidden;
      }
      .news-information {
        padding: 20px 20px 10px;
        height: 128px;
      }
      .news-links {
        padding: 5px 20px 15px;
        a {
          color: inherit;
          text-decoration: underline;
          &:hover {
            background: none;
          }
        }
      }
      h3 {
        margin: 0;
        width: 90%;
        line-height: 1.2em;
      }
      p {
        line-height: 1.4em;
      }
      .owl-pause, .owl-play {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 50;
      }
    }
  }
  .owl-wrapper-outer {
    max-width: 800px;
    display: inline-block;
    width: 65%;
    @include breakpoint(desktop) {
      width: 100%;
    }
  }
  .owl-controls {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    max-width: 349px;
    margin-left: 16px;
    .owl-page {
      display: block;
      background-color: $academy_light_grey;
      color: $academy_dark_grey;
      margin-bottom: 4px;
      box-sizing: border-box;
      position: relative;
      &.active {
        background-color: $academy_green;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-right: 15px solid $academy_green;
          font-size: 0;
          line-height: 0;
          position: absolute;
          right: 99.5%;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }
      .carousel-desk-title {
        height: 80px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding: 10px 20px;
        box-sizing: border-box;
      }
    }
  }
}

.landing-page-tiles {
  >div {
    padding-top: rem(48px);
    padding-bottom: rem(48px);
  }
  [class*="pane-bean-landing-page-tile-"], .panels-ipe-portlet-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(94.2% / 3);
    margin-right: 2.5%;
    &:nth-child(3n+5) {
      margin-right: 0;
    }
  }
  .panels-ipe-portlet-wrapper [class*="pane-bean-landing-page-tile-"] {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .bean-image-and-text.homepage_tile {
    margin-bottom: 1em;
    img {
      height: auto;
    }
    h2 {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 1.6rem;
    }
    p {
      font-size: .875rem;
      line-height: 1.5rem;
    }
    a {
      text-decoration: none;
      border: none;
      color: $primary_1;
      &:hover, &:focus {
        background: none;
        border: none;
        transition: none;
      }
    }
  }
}
