// =========================================================
// TEXT RESIZE
// =========================================================
html {
  &.large-fonts {
    font-size: $large-font-size;
  }
}

// =========================================================
// GENERAL HEADING LAYOUT
// =========================================================
#content {
  @include button-colours($secondary_1, darken($secondary_1, 20%), #fff, darken($secondary_1, 40%), darken($secondary_1, 40%));
  body.not-front & {
    .content-header {
      background-color: $secondary_1;
      padding-top: rem(19px);
      padding-bottom: rem(25px);
      margin-bottom: rem(25px);
      @include breakpoint(tablet) {
        height: rem(235px);
        padding-top: rem(40px);
        padding-bottom: rem(40px);
        margin-bottom: rem(80px);
      }
      .content-header-inner {
        @include center-column($desktop_column);
        h1 {
          color: white;
          font-weight: 300;
          font-size: rem(32px);
          @include breakpoint(tablet) {
            font-size: rem(48px);
          }
        }
      }
    }
  }
}

// =========================================================
// GENERAL BODY LAYOUT
// =========================================================
.content-body {
  &>.messages {
    max-width: $desktop_column;
    margin-left: auto;
    margin-right: auto;
    margin-top: $default_padding;
    margin-bottom: $default_padding;
  }
  .content {
    @include link-colours($primary_1, $secondary_3, $neutral_1);
  }
}

.content-body-inner.has-sidebar {
  @include center-column($desktop_column);
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(large_tablet) {
    flex-wrap: nowrap;
  }
}

.sidebar-first {
  order: -1;
  width: 100%;
  @include breakpoint(large_tablet) {
    width: rem(330px);
    min-width: rem(330px);
    padding-right: rem(60px);
  }
}

.content-body-inner {
  &.has-sidebar {
    .region-content {
      width: 100%;
      @include breakpoint(large_tablet) {
        max-width: $desktop_content_column;
      }
    }
    .panel-display {
      @include panel-display-layouts(desktop);
    }
  }
  &.no-sidebar {
    .page-node & {
      .region-content {
        // Node Pages
        .node {
          &>.submitted {
            @include center-column($desktop_content_column);
          }
          &>.content {
            @include center-column($desktop_content_column);
          }
        }
        // Node Webforms
        .node-webform {
          &>.submitted {
            max-width: $form_width;
          }
          &>.content {
            max-width: $form_width;
          }
        }
      }
    }
    .panel-display {
      @include panel-display-layouts(tablet);
      // All Columns - Over 2 panels columns to use full column.
      @include center-column($desktop_column);
      // One Column (100)
      &.panel-1col, &.panel-1col-stacked {
        @include center-column($desktop_content_column);
      }
      // Two Columns (50 50)
      &.panel-2col, &.panel-2col-bricks, &.panel-2col-stacked {
        @include center-column($desktop_content_column);
      }
    }
    #site-map {
      @include center-column($desktop_content_column);
    }
    .search-api-page-results {
      @include center-column($desktop_content_column);
    }
    .page-contact & {
      .block-system {
        @include center-column($form_width);
      }
    }
    .page-search404 & {
      .block-system {
        @include center-column($desktop_content_column);
      }
    }
    .page-node-done & {
      .block-system {
        @include center-column($desktop_content_column);
      }
    }
  }
}

// =========================================================
// ABOVE FOOTER (SECOND SIDEBAR)
// =========================================================
.region-sidebar-second {
  &>.block {
    border-top: 1px solid #9B9B9B;
    &:nth-child(3n+1) {
      background-color: white;
    }
    &:nth-child(3n+2) {
      background-color: $non-white;
    }
    &:nth-child(3n+3) {
      background-color: #E6E6E6;
    }
  }
}

// =========================================================
// MISC ELEMENT STYLING
// =========================================================
.more-link {
  @include link-colours($primary_1, $secondary_3, $neutral_1);
}

ul, ol, dl, p, dt, dd {
  // Global override for 16px font-size on tablet.
  @include breakpoint(tablet) {
    font-size: inherit;
    line-height: rem(30px);
  }
}

.field-name-body {
  @include wysiwyg;
}

a[rel~='external']::after {
  background-image: ui-kit-icon("external-link--aqua.svg") !important;
}

.page-node {
  .region-content {
    .field {
      margin-top: $default_padding;
      margin-bottom: $default_padding;
    }
  }
}

#content {
  @include button-colours($secondary_1, #10505F, #0C3C47, white);
}
