// =========================================================
// LISTING
// The default style for content views.
// =========================================================
body.not-front #content {
  .no-sidebar {
    .view {
      @include center-column($desktop_column);
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
      }
      &:nth-child(3n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
  }
  .has-sidebar {
    .view {
      max-width: $desktop_content_column;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(6 of 12);
      }
      &:nth-child(2n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
  }
  .view {
    .view-content {
      @include breakpoint(tablet) {
        @include outer-container(100%);
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        .node {
          @include listing-component-wrapper;
          padding-left: 0;
          padding-right: 0;
          &.has-thumbnail {
            padding-top: $listing_component_image_height;
            .field-type-image {
              @include listing-component-image;
              .field-item:nth-child(n + 2) {
                display: none;
              }
            }
            h2 {
              margin-top: rem(30px);
            }
          }
          &>.links {
            li {
              padding-left: 0;
            }
          }
        }
        h2 {
          @include listing-component-heading;
          margin-top: 0;
          
          a {
            color: $primary_1;
          }
        }
        .field-name-field-date, .submitted, .field-type-datetime {
          @include listing-component-subtext;
        }
        .field-name-body {
          @include listing-component-body;
        }
        .field-name-field-image {
          a {
            border-bottom: none;
            transition: none;
            &:hover {
              background: none;
            }
          }
          img {
            height: auto;
          }
        }
      }
    }
    .pager {
      margin-top: $default_padding;
      margin-bottom: $default_padding;
    }
  }
}

body.not-front #content .view.view-faculties {
  .view-content {
    .views-row {
      .node {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    h2 {
      font-size: rem(20px);

      a {
        color: $white;
      }
    }
  }
  .image-wrapper {
    position: relative;
  }
  .field-name-title {
    position: absolute;
    bottom: 7px;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
  }
  .field-name-field-badge {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1em;
    text-align: right;
    color: $white;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
  }
  .field-name-field-learning-streams {
    .field-items {
      padding-left: 2em;
      padding-right: 2em;
    }
    .field-item {
      display: list-item;
    }
  }
}
