// =========================================================
// LISTING
// The default style for content views.
// =========================================================
body.not-front #content {
  .no-sidebar {
    .view {
      @include center-column($desktop_column);
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
      }
      &:nth-child(3n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
  }
  .has-sidebar {
    .view {
      max-width: $desktop_content_column;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(6 of 12);
      }
      &:nth-child(2n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
  }
  .view {
    .view-content {
      @include breakpoint(tablet) {
        @include outer-container(100%);
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        .node {
          @include listing-component-wrapper;
          padding-left: 0;
          padding-right: 0;
          &.has-thumbnail {
            padding-top: $listing_component_image_height;
            .field-type-image {
              @include listing-component-image;
              .field-item:nth-child(n + 2) {
                display: none;
              }
            }
            h2 {
              margin-top: rem(30px);
            }
          }
          &>.links {
            li {
              padding-left: 0;
            }
          }
        }
        h2 {
          @include listing-component-heading;
          margin-top: 0;
        }
        .field-name-field-date, .submitted, .field-type-datetime {
          @include listing-component-subtext;
        }
        .field-name-body {
          @include listing-component-body;
        }
      }
    }
    .pager {
      margin-top: $default_padding;
      margin-bottom: $default_padding;
    }
  }
}
