// Body
$body_bg: #EFEEE9;
$body_color: #5F5F5F;
$body_toolbar_bg: #EFEEE9;
$body_toolbardrawer_bg: #EFEEE9;

$base_light: #fff;
$base_midrange: #BFBFBF;

// Links
$link_color: #BB2700;
$hover_color: #000;
$submit_hover: #c42a36;
$input_button: #9e1c27;
$button_bg: #a52b36;
$button_color_light: #fff;
$box_shadow: #999;
$menu_active: #000;
$search_button: #9f202b;
$link_light_alpha: rgba(255,255,255,.6);
$footer_link: #fff;
$mainmenu_link: #fff;

$pager_active: #9E1C27;
$pager_current: #204F7D;

$topmenu_link_color: #fff;

// Headers
$h1: #1A3E64;
$h2: #1A3E64;
$h3: #555;
$twitter_h2: #fff;
$footer_h2: #004961;

// Borders
$border_general: #ddd;
$border_theme: #8D98A2;
$border_tab: #ccc;
$border_util: #8D98A2;
$top_menu_border_left: #163656;
$top_menu_border_right: #496989;
$twitter_border: #A2B6C8;

$box_shadow: #c9c9c9;

// Theme highlight color
$theme_color: #1d4873; // colour of header region
$menu_bg: #9e1c27;
$menu_border: #cc8a8c;

// Main Menu
$dropdown_menu_bg: #EFEEE9;
$main_menu_border: #b5595e;

// Text
$text_light: #767676;
$text_darkest: #000;
$text_bg: #fff;
$text_summary: #444;
$text_blog: #5F5F5F;
$text_active: #333;

// Content
$content_bg: #fff;

// Comments
$comment_border_top: #004961;
$comment_bg: #F7F7F4;
$comment_border_bottom: #EBEBEB;

// Tabs
$tab_bg: #EFEEE9;

// Home page featured articles
$home_feature_bg: #DEE7EF;
$region_feature_bg: #DEE7EF;

// Blocks
$block_border: #204F7D;
$block_header_bg: $theme_color;
$block_list_separator: #CDCCCE;

// Footer feature
$footer_feature_bg: #F3F3F3;
$footer_region_bg: #1d4873;

// Messages
$message_border: #88A5BF;
$message_color: #1A3E64;


@import "../../set-colour.scss";